
<div>
    <h2><span data-translate="smartportalApp.activity.detail.title">Activity</span> {{vm.activity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="smartportalApp.activity.siteId">Site Id</span></dt>
        <dd>
            <span>{{vm.activity.siteId}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.activity.feedPersonId">Feed Person Id</span></dt>
        <dd>
            <span>{{vm.activity.feedPersonId}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.activity.postPersonId">Post Person Id</span></dt>
        <dd>
            <span>{{vm.activity.postPersonId}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.activity.postedAt">Posted At</span></dt>
        <dd>
            <span>{{vm.activity.postedAt}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.activity.activityType">Activity Type</span></dt>
        <dd>
            <span>{{vm.activity.activityType}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="activity-detail.edit({id:vm.activity.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
