<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.social.registration.title}">JHipster
	activation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table class="main" width="100%" cellpadding="0" cellspacing="0"
		style="font-size: 13px; background-color: #fff; border-radius: 2px;">
		<tbody>
			<tr>
				<td class="alert alert-warning"
					style="background-color: #0099cc; font-size: 16px; color: #fff; font-weight: 500; padding: 20px; text-align: center; border-radius: 2px 2px 0 0;">Smartportal
					Account Created With Social Connection</td>
			</tr>
			<tr>
				<td style="padding: 20px;">
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<p
									th:text="#{email.social.registration.greeting(${user.firstName})}">
									Dear</p>
							</td>
						</tr>
						<tr>
							<td><p
									th:text="#{email.social.registration.text1(${provider})}">
									Your JHipster account has been created with the social
									connection: Provider.</p></td>
						</tr>
						<tr>
					<td><p>
								<span th:text="#{email.social.registration.text2}">Regards,
								</span> <br /> <em th:text="#{email.signature}">JHipster.</em>
							</p></td>
						</tr></table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
