
<div>
    <h2><span data-translate="smartportalApp.documents.detail.title">Documents</span> {{vm.documents.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="smartportalApp.documents.name">Name</span></dt>
        <dd>
            <span>{{vm.documents.name}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documents.title">Title</span></dt>
        <dd>
            <span>{{vm.documents.title}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documents.description">Description</span></dt>
        <dd>
            <span>{{vm.documents.description}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documents.type">Type</span></dt>
        <dd>
            <span>{{vm.documents.type}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documents.siteId">Site Id</span></dt>
        <dd>
            <span>{{vm.documents.siteId}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documents.parentId">Parent Id</span></dt>
        <dd>
            <span>{{vm.documents.parentId}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documents.mimeType">Mime Type</span></dt>
        <dd>
            <span>{{vm.documents.mimeType}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documents.size">Size</span></dt>
        <dd>
            <span>{{vm.documents.size}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documents.archiveId">Archive Id</span></dt>
        <dd>
            <span>{{vm.documents.archiveId}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documents.archiveDocId">Archive Doc Id</span></dt>
        <dd>
            <span>{{vm.documents.archiveDocId}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="documents-detail.edit({id:vm.documents.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
