<div>
    <h2 data-translate="smartportalApp.documents.home.title">Documents</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="documents.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartportalApp.documents.home.createLabel">
                        Create new Documents
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="smartportalApp.documents.name">Name</span></th>
                    <th><span data-translate="smartportalApp.documents.title">Title</span></th>
                    <th><span data-translate="smartportalApp.documents.description">Description</span></th>
                    <th><span data-translate="smartportalApp.documents.type">Type</span></th>
                    <th><span data-translate="smartportalApp.documents.siteId">Site Id</span></th>
                    <th><span data-translate="smartportalApp.documents.parentId">Parent Id</span></th>
                    <th><span data-translate="smartportalApp.documents.mimeType">Mime Type</span></th>
                    <th><span data-translate="smartportalApp.documents.size">Size</span></th>
                    <th><span data-translate="smartportalApp.documents.archiveId">Archive Id</span></th>
                    <th><span data-translate="smartportalApp.documents.archiveDocId">Archive Doc Id</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="documents in vm.documents track by documents.id">
                    <td><a ui-sref="documents-detail({id:documents.id})">{{documents.id}}</a></td>
                    <td>{{documents.name}}</td>
                    <td>{{documents.title}}</td>
                    <td>{{documents.description}}</td>
                    <td>{{documents.type}}</td>
                    <td>{{documents.siteId}}</td>
                    <td>{{documents.parentId}}</td>
                    <td>{{documents.mimeType}}</td>
                    <td>{{documents.size}}</td>
                    <td>{{documents.archiveId}}</td>
                    <td>{{documents.archiveDocId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="documents-detail({id:documents.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="documents.edit({id:documents.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="documents.delete({id:documents.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
