
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDocumentsLabel" data-translate="smartportalApp.documents.home.createOrEditLabel">Create or edit a Documents</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.documents.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.documents.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documents.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.documents.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documents.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.documents.title"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documents.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.documents.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documents.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="vm.documents.type"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documents.siteId" for="field_siteId">Site Id</label>
            <input type="text" class="form-control" name="siteId" id="field_siteId"
                    ng-model="vm.documents.siteId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documents.parentId" for="field_parentId">Parent Id</label>
            <input type="text" class="form-control" name="parentId" id="field_parentId"
                    ng-model="vm.documents.parentId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documents.mimeType" for="field_mimeType">Mime Type</label>
            <input type="text" class="form-control" name="mimeType" id="field_mimeType"
                    ng-model="vm.documents.mimeType"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documents.size" for="field_size">Size</label>
            <input type="text" class="form-control" name="size" id="field_size"
                    ng-model="vm.documents.size"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documents.archiveId" for="field_archiveId">Archive Id</label>
            <input type="text" class="form-control" name="archiveId" id="field_archiveId"
                    ng-model="vm.documents.archiveId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documents.archiveDocId" for="field_archiveDocId">Archive Doc Id</label>
            <input type="text" class="form-control" name="archiveDocId" id="field_archiveDocId"
                    ng-model="vm.documents.archiveDocId"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
