
<div>
    <h2><span data-translate="smartportalApp.form.detail.title">Form</span> {{vm.form.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="smartportalApp.form.name">Name</span></dt>
        <dd>
            <span>{{vm.form.name}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.form.description">Description</span></dt>
        <dd>
            <span>{{vm.form.description}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.form.content">Content</span></dt>
        <dd>
            <span>{{vm.form.content}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="form-detail.edit({id:vm.form.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
