
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubstituteLabel" data-translate="smartportalApp.substitute.home.createOrEditLabel">Create or edit a Substitute</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.substitute.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.substitute.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.substitute.userId" for="field_userId">User Id</label>
            <input type="text" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.substitute.userId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.substitute.substituteuser" for="field_substituteuser">Substituteuser</label>
            <input type="text" class="form-control" name="substituteuser" id="field_substituteuser"
                    ng-model="vm.substitute.substituteuser"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.substitute.fromDate" for="field_fromDate">From Date</label>
                <div class="input-group">
                    <input id="field_fromDate" type="text" class="form-control" name="fromDate" datetime-picker="{{dateformat}}" ng-model="vm.substitute.fromDate" is-open="vm.datePickerOpenStatus.fromDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fromDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.substitute.toDate" for="field_toDate">To Date</label>
                <div class="input-group">
                    <input id="field_toDate" type="text" class="form-control" name="toDate" datetime-picker="{{dateformat}}" ng-model="vm.substitute.toDate" is-open="vm.datePickerOpenStatus.toDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('toDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.substitute.status" for="field_status">Status</label>
            <input type="checkbox" class="form-control" name="status" id="field_status"
                    ng-model="vm.substitute.status"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
