<div>
    <h2 data-translate="smartportalApp.substitute.home.title">Substitutes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="substitute.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartportalApp.substitute.home.createLabel">
                        Create new Substitute
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="smartportalApp.substitute.userId">User Id</span></th>
                    <th><span data-translate="smartportalApp.substitute.substituteuser">Substituteuser</span></th>
                    <th><span data-translate="smartportalApp.substitute.fromDate">From Date</span></th>
                    <th><span data-translate="smartportalApp.substitute.toDate">To Date</span></th>
                    <th><span data-translate="smartportalApp.substitute.status">Status</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="substitute in vm.substitutes track by substitute.id">
                    <td><a ui-sref="substitute-detail({id:substitute.id})">{{substitute.id}}</a></td>
                    <td>{{substitute.userId}}</td>
                    <td>{{substitute.substituteuser}}</td>
                    <td>{{substitute.fromDate | date:'medium'}}</td>
                    <td>{{substitute.toDate | date:'medium'}}</td>
                    <td>{{substitute.status}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="substitute-detail({id:substitute.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="substitute.edit({id:substitute.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="substitute.delete({id:substitute.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
