<div>
    <h2 data-translate="smartportalApp.documentsRequest.home.title">Documents Requests</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="documents-request.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartportalApp.documentsRequest.home.createLabel">
                        Create new Documents Request
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="documentId"><span data-translate="smartportalApp.documentsRequest.documentId">Document Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="requester"><span data-translate="smartportalApp.documentsRequest.requester">Requester</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="smartportalApp.documentsRequest.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="approver"><span data-translate="smartportalApp.documentsRequest.approver">Approver</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="requestType"><span data-translate="smartportalApp.documentsRequest.requestType">Request Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="siteId"><span data-translate="smartportalApp.documentsRequest.siteId">Site Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="documentsRequest in vm.documentsRequests track by documentsRequest.id">
                    <td><a ui-sref="documents-request-detail({id:documentsRequest.id})">{{documentsRequest.id}}</a></td>
                    <td>{{documentsRequest.documentId}}</td>
                    <td>{{documentsRequest.requester}}</td>
                    <td>{{documentsRequest.status}}</td>
                    <td>{{documentsRequest.approver}}</td>
                    <td>{{documentsRequest.requestType}}</td>
                    <td>{{documentsRequest.siteId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="documents-request-detail({id:documentsRequest.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="documents-request.edit({id:documentsRequest.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="documents-request.delete({id:documentsRequest.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
