
<div>
    <h2><span data-translate="smartportalApp.documentsRequest.detail.title">Documents Request</span> {{vm.documentsRequest.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="smartportalApp.documentsRequest.documentId">Document Id</span></dt>
        <dd>
            <span>{{vm.documentsRequest.documentId}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documentsRequest.requester">Requester</span></dt>
        <dd>
            <span>{{vm.documentsRequest.requester}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documentsRequest.status">Status</span></dt>
        <dd>
            <span>{{vm.documentsRequest.status}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documentsRequest.approver">Approver</span></dt>
        <dd>
            <span>{{vm.documentsRequest.approver}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documentsRequest.requestType">Request Type</span></dt>
        <dd>
            <span>{{vm.documentsRequest.requestType}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documentsRequest.siteId">Site Id</span></dt>
        <dd>
            <span>{{vm.documentsRequest.siteId}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="documents-request-detail.edit({id:vm.documentsRequest.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
