
<div>
    <h2><span data-translate="smartportalApp.documentsRequestsUser.detail.title">Documents Requests User</span> {{vm.documentsRequestsUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="smartportalApp.documentsRequestsUser.requestId">Request Id</span></dt>
        <dd>
            <span>{{vm.documentsRequestsUser.requestId}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documentsRequestsUser.requestType">Request Type</span></dt>
        <dd>
            <span>{{vm.documentsRequestsUser.requestType}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.documentsRequestsUser.user">User</span></dt>
        <dd>
            <span>{{vm.documentsRequestsUser.user}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="documents-requests-user-detail.edit({id:vm.documentsRequestsUser.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
