<div>
    <h2 data-translate="smartportalApp.documentsRequestsUser.home.title">Documents Requests Users</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="documents-requests-user.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartportalApp.documentsRequestsUser.home.createLabel">
                        Create new Documents Requests User
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="smartportalApp.documentsRequestsUser.requestId">Request Id</span></th>
                    <th><span data-translate="smartportalApp.documentsRequestsUser.requestType">Request Type</span></th>
                    <th><span data-translate="smartportalApp.documentsRequestsUser.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="documentsRequestsUser in vm.documentsRequestsUsers track by documentsRequestsUser.id">
                    <td><a ui-sref="documents-requests-user-detail({id:documentsRequestsUser.id})">{{documentsRequestsUser.id}}</a></td>
                    <td>{{documentsRequestsUser.requestId}}</td>
                    <td>{{documentsRequestsUser.requestType}}</td>
                    <td>{{documentsRequestsUser.user}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="documents-requests-user-detail({id:documentsRequestsUser.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="documents-requests-user.edit({id:documentsRequestsUser.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="documents-requests-user.delete({id:documentsRequestsUser.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
