
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRequestActivityLabel" data-translate="smartportalApp.requestActivity.home.createOrEditLabel">Create or edit a Request Activity</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.requestActivity.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.requestActivity.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.requestActivity.actvity" for="field_actvity">Actvity</label>
            <input type="text" class="form-control" name="actvity" id="field_actvity"
                    ng-model="vm.requestActivity.actvity"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.requestActivity.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.requestActivity.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.requestActivity.buttonText" for="field_buttonText">Button Text</label>
            <input type="text" class="form-control" name="buttonText" id="field_buttonText"
                    ng-model="vm.requestActivity.buttonText"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.requestActivity.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.requestActivity.url"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.requestActivity.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="vm.requestActivity.type"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
