
<div>
    <h2><span data-translate="smartportalApp.binder.detail.title">Binder</span> {{vm.binder.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="smartportalApp.binder.name">Name</span></dt>
        <dd>
            <span>{{vm.binder.name}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.binder.description">Description</span></dt>
        <dd>
            <span>{{vm.binder.description}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.binder.businessObject">Business Object</span></dt>
        <dd>
            <span>{{vm.binder.businessObject}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.binder.siteId">Site Id</span></dt>
        <dd>
            <span>{{vm.binder.siteId}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="binder-detail.edit({id:vm.binder.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
